<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Strore</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Book Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ab">Available Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mybook">My Books</a>
                </li>

            </ul>
        </div>
		<div class="top-right">
		        <a href="bookreg" class="btn btn-secondary">New Book Register</a>
		    </div>
    </nav>

    <!-- Main Container -->
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1>ഒളശ്ശ</h1>
                <p>				അപരാഹ്നത്തിന്റെ അനന്ത പഥങ്ങളിൽ 
				ആകാശ നീലിമയിൽ അവൻ നടന്നകന്നു.
				ഭീമനും യുധിഷ്ഠിരനും ബീഡി വലിച്ചു.
				സീതയുടെ മാറു പിളർന്നു രക്തം കുടിച്ചു ദുര്യോദനൻ..
				ഗുരുവായൂരപ്പന് ജലദോഷമായിരുന്നു അന്ന്..
				അമ്പലത്തിന്റെ അകാൽ വിളക്കുകൾ തെളിയുന്ന സന്ധ്യയിൽ അവൾ അവനോട് ചോദിച്ചു..'ഇനിയും നീ ഇത് വഴി വരില്ലേ ആനകളെയും തെളിച്ചു കൊണ്ട്?" .</p>
               
            </div>
			
        </div>
		<img src="/maxresdefault.jpg" width="960px" align="center">

    </div>
	


    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
